{% extends "orders/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'orders/basket.js' %}"></script>

<!-- Item temlate 1 -->
{% verbatim %}
<script id="basketItem1" type="text/x-handlebars-template">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ item }}: {{ type }} - {{ category }} - {{ size }} -- ${{ price }}</h5>
            <p class="card-text">Toppings: {{ toppings }}</p>
        </div>
    </div>
</script>
{% endverbatim %}

{% endblock %}

{% block title %}
My Basket
{% endblock %}

{% block main %}
<h1>My Basket</h1>

<div class="alert alert-success alert-dismissible fade show" role="alert" id="confirmation" hidden></div>

<form action="place" method="post">
    {% csrf_token %}
    <div class="form-group" id="basketList">
        <!-- handlebars template content in here -->
    </div>
    <div class="form-group" id="total">
        <h3 class="text-right">Subtotal: $<span id="subtotal"></span></h3>
    </div>

    <!-- hidden field containing basket data for post to server -->
    <input type="text" id="hiddenData" name="hiddenData" value="" hidden>
    <!-- ----------End of hidden field------------------ -->

    <div class="form-group">
        <button type="submit" class="btn btn-success" id="placeOrder">
            Place my Order
        </button>
        <button type="button" class="btn btn-warning" id="deleteOrder">
            Delete all items
        </button>
    </div>
</form>

<!-- Previous Orders -->
<h5>Currently Active:</h5>
{% for row in active %}
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Order: #{{ row.order_id }} -- ${{ row.cost }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ row.time_placed }}</h6>
        <p class="card-text">Items:
        </p>
    </div>
</div>
{% endfor %}

<h5>Expired:</h5>
{% for row in expired %}
<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Order: #{{ row.order_id }} -- ${{ row.cost }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ row.time_placed }}</h6>
        <p class="card-text">Items:</p>
    </div>
</div>
{% endfor %}

{% endblock %}