{% extends "orders/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'orders/basket.js' %}"></script>

<!-- Item temlate 1 -->
{% verbatim %}
<script id="basketItem1" type="text/x-handlebars-template">
    <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item }}: {{ type }} - {{ category }} - {{ size }} -- ${{ price }}</h5>
                <p class="card-text">Toppings: {{ toppings }}</p>
            </div>
        </div>
</script>
{% endverbatim %}

{% endblock %}

{% block title %}
My Basket
{% endblock %}

{% block main %}
<h1>My Basket</h1>

<div class="alert alert-success alert-dismissible fade show" role="alert" id="confirmation" hidden></div>

<form action="place" method="post">
    {% csrf_token %}
    <div class="form-group" id="basketList">
        <!-- handlebars template content in here -->
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" id="placeOrder">
            Place my Order
        </button>
        <button type="button" class="btn btn-warning" id="deleteOrder">
            Delete all items
        </button>
    </div>
</form>

{% endblock %}